TZ=Asia/Shanghai
PULSEGUARD_HOST=0.0.0.0
PULSEGUARD_PORT=8787
PULSEGUARD_PUBLISH_HOST=0.0.0.0
PULSEGUARD_PUBLISH_PORT=8787
PULSEGUARD_ALERT_DETAIL_BASE_URL=http://localhost:8787
PULSEGUARD_DATA_DIR=./data
PULSEGUARD_REPORTS_DIR=./reports
